@import "../../../vendor/assets/purpose/scss/_variables.scss";

.fc-today.fc-day {
  background-color: transparent;
}

.fc-day-header.fc-today {
  background-color: lighten($blue, 38%);
}

.fc-day-top.fc-today > .fc-day-number {
  background-color: lighten($blue, 38%);
  border-radius: 50%;
  width: 24px;
  height: 24px;
  text-align: center;
  margin-top: 2px;
  margin-right: 2px;
}

.fc-event-dot {
  background-color: $blue;
}

.fc-event {
  padding: 2px;
}

.fc-list-table td {
  vertical-align: middle !important;
}
