<% content_for :content do %>
  <main role="main" class="container-fluid pt-5 pb-5">
    <% flash.each do |key, value| %>
      <div class="alert alert-info fade show">
      <%= value %>
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
      </button>
      </div>
    <% end %>
    <%= yield %>
  </main>
<% end %>
<%= render template: "layouts/default" %>
